@model SistemaChamados.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Cadastrar Novo Usuário";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Criar" method="post">


    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<a href="@Url.Action("Usuario", "Usuario")">Voltar para a lista de usuários</a>
    